# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
venv/
env/

# =========================
# Environment Variables
# =========================
.env

# =========================
# VSCode
# =========================
.vscode/

# =========================
# PyCharm
# =========================
.idea/

# =========================
# Build / Executables
# =========================
build/
dist/
*.spec

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Qt / UI
# =========================
*.ui.autosave

# =========================
# Coverage / Testing
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# SQLite
# =========================
*.sqlite3

# =========================
# Temporary files
# =========================
*.tmp
*.bak